body {
  font-family: Arial;
  padding: 20px;
}

#catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
